<h4>Register</h4>
<div id="login">
  <form id="login_form" action="/Account/Register" method="post">
    <div class="field_container">
      <input type="text" name="username" placeholder="Email Address">
    </div>
    
    <div class="field_container">
      <input type="Password" name="password" placeholder="Password">
      <input type="submit" value="Submit" />
    </div>
</form>
</div>